body {
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

#title {
    text-align: center;
    margin: auto;
    padding: 0.4em;
    font-size: 2.5em;
}

#titleE {
    color: #e43137;
}

#titleB {
    color: #0063d1;
}
#titleA {
    color: #f4ae01;
}
#titleY {
    color: #85b716;
}


.smallerFont {
    font-size: 80%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 565px;
    margin: auto;
    margin-bottom: 2em;
    border-top: 2px solid #979797;
    padding: 20px;
    justify-content: center;

}

.allHeadings {
    width: 100%;
    text-align: center;

}

.allInputs {
    width: 100%;
    text-align: center;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    text-align: left;
    justify-content: center;
    align-items: center;
}

/* To prevent rows blending at wider viewports */
.rows > h3 {
    width: 95%;
}

.boxes {
	height: 2em;
	text-align: left;
    width: 80%;
}


#radioButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 120%;
}

input[type="radio"] {
    height, width: 1.1em;
}

#storeRadioYesLabel {
    margin-right: 5%;
}

#storeRadioNo {
    margin-left: 5%;
}


#categoryDropdown {
    padding: 0.5em;
}

option:nth-child(even) {
    background: white;
}

option:nth-child(odd) {
    background: #e2eaf2;
}

option:hover {
    background-color: blue;
    cursor:pointer;
}

#calculate {
	display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    align-items: center;
}

#calculateButton {
    padding: 1em 2.5em;
    border: 1.5px solid #537511;
    border-radius: 9px;
    background: #85b723;
    color: black;
    font-size: 98%;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1pt;
}

#calculateButton:hover {
    background: #9ac83f;
    font-size: 105%;
}

#finalResult {
    flex-wrap: wrap;
    width: 88%;
    justify-content: center;
    margin: auto;
    align-items: center;
}

#finalResult p {
    font-size: 120%;
    font-weight: bold;
}


#finalDollars {
	padding-left: .5em;
    font-size: 149%;
    font-weight: bold;
}

.displayNone {
	display:none!important;
}

#detailLink {
    width: 100%;
    margin:auto;
    text-align: center;
    text-decoration: underline;
    color: blue;
    font-size: 105%;
    cursor:pointer;
}

#detailLink:hover {
    color: #2727e8;
    font-size:125%;
}

#details {
    margin: auto;
    font-size: 120%;
}

.redText {
    color: #d70c00;
}

.greenText {
    color: #045a04;
}

.boldText {
    font-weight: bold;
}


ul {
    list-style-type: none;
}

/* Only style list elements in the DETAILS div with - */
#details li:before {
    content: "-";
}

